@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

nav{
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: purple;
    color: white;
}
nav ul {
    display: flex;
    margin: 0px;
}
nav ul li{
    padding: 10px;
    list-style: none;
}

/* Body */
body{
    background-image: url(img/background-large.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Lato;
    padding: 0px;
    margin: 0px;
}

header h1, header h2{
    text-align: center;
    text-shadow: 3px 5px 1px black;
    color: white;
    font-size: 3em;
    font-family: 'Berkshire Swash', cursive;
}

header h1 {
    margin-bottom: 0px;
    font-size: 5em;
}

header h2{
    margin-bottom: 100px;
}

section{

    text-shadow: 2px 2px black;
    color: white;
    text-align: center;
    background-color: purple;
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-left: 4em;
    padding-right: 4em;
}

section h1{
    font-family: 'Berkshire Swash';
}

article{
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 30px;
    text-align: left;
    background-color: grey;
}

article h3{
    font-size: 1.3em;
}

article a{
    text-decoration: none;
    color: white;
    text-shadow: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: purple;
    transition: 0.5s;
}

article a:hover{
    color: purple;
    background-color: white;
    transition: 0.5s;
}